
.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #101418;
  padding: 0 24px 24px;

  p {
    margin: 0;
  }
}

.topBar {
  // same as <Header/>
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.margin-vertical {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.header {
  border-bottom: 1px solid white;
}

.section {


  .element {
    color: red;
  }
}

.errorWrapper {
  height: calc(100% - 64px);
}