
.container {
  height: 100vh;
  overflow: auto;
}

.listWrapper {
  height: calc(100vh - 64px);
  padding-top: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.listItem {
  margin-bottom: 14px;
}
