$animation-duration-time: 2s;

.listContainer {
  width: 100%;
  //width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.answerContainer {
  width: 0%;
  animation-name: answerContainerAnimation;
  animation-duration: $animation-duration-time;
  animation-fill-mode: forwards;
}

.listWrapper {
  width: 100%;
  animation-name: listWrapperAnimation;
  animation-duration: $animation-duration-time;
  animation-fill-mode: forwards;
}

.listWrapperFullWidth {
  //width: 100%;

}

.list {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  list-style-type: none;
}

.listItemContent {
  padding: 10px;
}


@keyframes listWrapperAnimation {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes answerContainerAnimation {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
