.container {
  height: 100vh;
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

.description {
  padding-top: 42px;
}

.list {
  width: 100%;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  gap: 24px;
  margin-top: 72px;
}

.listItemWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 48px;
  margin-bottom: 14px;
  border-radius: 4px;
  position: relative;

  &:hover {
    opacity: 0.9;
  }

  a {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: white;
    text-decoration: none;
  }
}