.links {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.link {
  margin-left: 0.04em;
}

.separator {
  margin-left: 0.4em;
  font-size: 0.18em;
  font-weight: bold;
}

.menu {
  height: 24px;
  display: flex;
  align-items: center;
}