
.container {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  overflow: auto;
  background: #101418;
  padding: 24px;

  .title {

  }
}

.header {
  border-bottom: 1px solid white;
}

.section {


  .element {
    color: red;
  }
}